
.market-stats-wrapper > * + *{
    margin-top: 1.75em;
}

@media(min-width: 48em){
    .market-stats-wrapper > * + *{
        margin-top: 0;
        /* margin-left: 1em; */
    }
    .market-stats-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1em;
        row-gap: 1em;
    }
}

@media(min-width: 64em){
    .market-stats-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}