.row-flex {
    display: flex;
}

.sm-acc-details {
    background-color: var(--contrast-color-light-200);
    color: var(--contrast-color-dark-400);
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .35);
    width: 90%;
    margin: auto;
    padding-bottom: .65em;
    padding-top: .65em;
    margin-bottom: 1.5em;
}

.sm-acc-details > :first-child {
    column-gap: 1em;
}

.buy-title {
    background-color: var(--primary-highlight-color);
    padding-top: .5em;
    padding-bottom: .5em;
    margin-bottom: 1.5em;
}

.buy-title > p {
    color: var(--primary-text-color);
    width: 90%;
    margin: auto;
    font-weight: 600;
    text-transform: uppercase;

}



.order-form > :not(button) {
    margin-bottom: 1.5em;
}

.order-form > :is(button){
    margin-top: 1em;
}

.form-group > label {
    margin-bottom: .5em;
    display: block;
    color: var(--primary-text-color);
}

.form-group > div > input, select{
    background-color: var(--primary-bg-color);
    border: none;
    border-bottom: 1px solid var(--primary-text-color);
    padding-bottom: .25em;
    width: 90%;
    color: var(--primary-text-color)
}


input:focus {
    outline: none;
}

.select-security {
    position: relative;
}

.drop-down-selector {
    position: absolute;
    background-color: var(--contrast-color-light-200);
    width: 90%;
    padding: 1em 1em;
    min-height: 500px;
    overflow-y: scroll;
}

.drop-down-selector > * {
    padding-top: .5em;
    padding-bottom: .5em;
    cursor: pointer;
}


.info-text {
    font-size: .75em;
    color: var(--secondary-highlight-color);
    margin-top: .5em;
}

.show-info-text {
    visibility: visible;
}
.hide-info-text {
    visibility: hidden;
}

@media(min-width: 64em){
    .order-action {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        margin: auto;
        position: relative;
        box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, .35) ,-5px -5px 5px 1px rgba(0, 0, 0, .35);
        padding-bottom: 3em;
        overflow: hidden ;
    }

    .buy-title {
        position: absolute;
        width: 100%;
        top: 0;
    }

    .buy-process {
        margin-top: 4em;
    }
    .drop-down-selector {
        min-height: 200px;
        max-height: 300px;
    }

    .account-details {
        margin-top: 4em;
        justify-self: end;
        color: var(--primary-text-color);
        
        width: 75%;
    }

    .account-details > * {
        justify-content: space-between;
        margin-bottom: 1em;
        padding-left: .5em;
    }

    .account-details > :is(.row-flex) > :last-child{
        min-width: 150px;
        text-align: left;
    }

    .remaining-bal {
        background-color: var(--secondary-highlight-color);
        padding-top: .5em;
        padding-bottom: .5em;
    }



}