
.table {
    padding-top: 2em;
    padding-bottom: 1em;
    padding-left: .5em;
    padding-right: .5em;
    position: relative;
    background-color: var(--primary-bg-color);
    box-shadow: 1px 1px 25px 2px rgba(0, 0, 0, 0.5);
}

.stock-sector-filter {
    position: absolute;
    right: .75em;
    top: 1em;
}

.table-header_row {
    margin-top: 1.5em;
}

.table-row_rows > *:nth-child(odd){
    background-color: var(--contrast-color-dark-300);
}


.table-header, .table-row {
    display: flex;
    justify-content: space-between;
    padding-left: .25em;
    padding-right: .25em;
}

.table-header {
    color: var(--contrast-color-light-300);
    font-weight: 600;
    margin-bottom: .5em;
    
}

.table-row {
    color: var(--contrast-color-light-200);
    padding-top: .5em;
    padding-bottom: .5em;

}

.table-row > * {
    min-width: 50px;
}

.table-header > * {
    min-width: 50px;
}

.E-header, .F-header, .G-header, .H-header, .I-header {
    display: none;
}
.E-row, .F-row, .G-row, .H-row, .I-row {
    display: none;
}

@media(min-width: 48em){
    .E-header, .F-header, .G-header, .H-header{
        display: block;
    }
    .E-row, .F-row, .G-row, .H-row{
        display: block;
    }
    .table-row > * {
        min-width: 60px;
    } 
    .table-header > * {
        min-width: 60px;
    } 
}

@media(min-width: 64em){
    .I-header {
        display: block;
    }
    .I-row {
        display: block;
    }
    .table-row {
        /* border: 2px dotted red; */
        box-shadow: 1px 1px 1px 0px rgba(0,0,0, .5);
    }
}