
.drop-down {
    color: var(--primary-text-color);
    display: flex;
    justify-content: end;
    position: relative;
    min-width: 200px;
}

.content-upper-section {
    display: flex;
    cursor: pointer;
}

.drop-down-content {
    font-size: .9em;
    cursor: pointer;
    background-color: var(--contrast-color-light-200);
    color: var(--contrast-color-dark-300);
    padding: 1em;
    position: absolute;
    left: 0;
}

.drop-down-text {
    padding-top: .25em;
    padding-bottom: .25em;
}

.drop-down-text:hover{
    background-color: var(--contrast-color-light-300);
}

.drop-down-header {
    /* display: flex; */
    margin-right: .5em;
}


.drop-down-caret {
    color: var(--secondary-highlight-color);
    margin-left: .5em;
}