
.auth-btn {
    background-color: var(--primary-highlight-color);
    color: var(--primary-text-color);
    border: none;
    padding: .5em 2em;
    border-radius: 20px;
    width: 84%;
    cursor: pointer;
}

@media (min-width: 48em){
    .auth-btn{
        max-width: 50%;
    }
}

@media(min-width: 64em){
    .auth-btn{
        width: 40%
    }
}
